PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_c9lNQGTwM6Ay@ep-divine-mode-b45xhtwt-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_URL=http://localhost:3000
CLERK_PUBLISHABLE_KEY=pk_test_Z2xhZC1jcmFuZS0yNy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_IyjmLQ3IacxykPZECDbdWdOGLp7oBsHv3ewWacM4Ot


